In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [26]:
filepath = 'HousingData.csv'
dataname = 'BostonHousing'

In [27]:
df = pd.read_csv(filepath)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [28]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [30]:
data_link = 'https://www.kaggle.com/datasets/altavish/boston-housing-dataset'
print("|[{}]({})| {} | {} | mixed|".format(dataname, data_link, len(df), len(df.columns[:-1])))

|[BostonHousing](https://www.kaggle.com/datasets/altavish/boston-housing-dataset)| 506 | 13 | mixed|

In [37]:
info_filepath = dataname+'.info'
with open(info_filepath, 'w') as f:
    for col in df.columns[:-1]:
        if len(df[col].unique()) <= 10:
            print(col, df[col].unique())
            f.write(col + ' discrete\n')
            # print("|{} | discrete |".format(col))
        else:
            f.write(col + ' continuous\n')
            # print("|{} | continuous |".format(col))
    f.write(df.columns[-1] + ' continuous\n')  # consider target value as continuous variable
    # print("|{} | continuous |".format(df.columns[-1]))
    f.write('LABEL_POS -1')
    # print('|LABEL_POS | -1 |')

CHAS [ 0. nan  1.]
RAD [ 1  2  3  5  4  8  6  7 24]

In [18]:
df.to_csv(dataname+'.data', index=False, header=False)